// @include for-phone-only {}
// @include for-tablet-portait-only {}
// @include for-tablet-portrait-up {}
// @include for-tablet-landscape-only {}
// @include for-tablet-landscape-up {}
// @include for-desktop-only {}
// @include for-desktop-up {}
// @include for-big-desktop-up {}


//ABOUT
.about {
    text-align: center;
    min-height: 100vh;
    max-width: 60vw;
    margin: 0 auto;
    padding: 5rem 0;

    // display: grid;
    // grid-auto-flow: column;
    // grid-template-columns: repeat(10, 2fr);
    // padding: 5rem 0px;
    // box-sizing: border-box;
    .project-list {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        // align-content: flex-start;

        a {
            display: block;
            padding: 2rem 1rem;
            font-size: 1.5rem;
            font-weight: 100;
            text-transform: lowercase;
            border-bottom: 1px solid #ccc;
            margin: 0.5rem 1rem;
            /* max-width: 300px; */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-align: right;
            -webkit-transition: all 0.6s ease-in;
            -moz-transition: all 0.6s ease-in;
            -o-transition: all 0.6s ease-in;
            transition: all 0.6s ease-in;

            &:hover {
                // border-bottom: 1px solid $clr-primary;
                color: $clr-primary;
                -webkit-transition: all 0.6s ease-in;
                -moz-transition: all 0.6s ease-in;
                -o-transition: all 0.6s ease-in;
                transition: all 0.6s ease-in;
            }
        }
    }

    .heading {
        font-family: 'Old Standard TT', serif;
        font-weight: $font-normal;
        font-size: 2rem;
        // grid-column: 3/10;
        // margin-bottom: 2rem;
        padding: 1.5rem;

        span {
            display: block;
            font-family: 'Old Standard TT', serif;

            span {
                display: inline-block;

                &:nth-child(2) {
                    color: #000000;
                }
            }
        }

        p {
            font-family: 'Old Standard TT', serif;
            font-weight: $font-normal;
        }
    }

    .disc {
        grid-column: 2/10;
        padding: 5rem 0;

        // text-transform: uppercase;
        p {
            // font-family: 'Old Standard TT', serif;
            text-align: justify;
            font-weight: 100;
            font-size: 1.5rem;
            line-height: 3rem;

            span {
                color: $clr-primary;
            }
        }
    }

    @include for-phone-only {
        max-width: 80vw;

        .project-list {
            a {
                font-size: 1.5rem;
                margin: 0.5rem 0rem;
                padding: 1.5rem 1rem;
                text-align: left;

                &:hover {}
            }
        }

        .heading {
            font-size: 2rem;
            grid-column: 2/10;
            margin-bottom: 2rem;
            margin-bottom: 0rem !important;

            span {
                display: block;

                span {
                    display: inline-block;

                    &:nth-child(2) {
                        color: #000000;
                    }
                }
            }
        }

        .disc {
            padding: 2rem 0;

            p {
                text-align: left;
                font-weight: 300;
                font-size: 3rem;
                font-size: 1.5rem;
                line-height: 3rem;
            }
        }
    }

    @mixin for-tablet-portait-only {
        max-width: 80vw;

        .project-list {
            a {
                font-size: 1rem;
                margin: 0.5rem 0rem;
                padding: 1.5rem 1rem;
                text-align: left;

                &:hover {}
            }
        }

        .heading {
            font-size: 2rem;
            grid-column: 2/10;
            margin-bottom: 2rem;

            span {
                display: block;

                span {
                    display: inline-block;

                    &:nth-child(2) {
                        color: #000000;
                    }
                }
            }
        }

        .disc {
            padding: 2rem 0;

            p {
                text-align: left;
                font-weight: 300;
                font-size: 3rem;
                font-size: 1.5rem;
                line-height: 3rem;
            }
        }
    }
}
$delay : 1s;

.awards-sec {
    min-height: 50vh;
    background: #000000;
    // display: flex;
    // align-items: center;
    // justify-content: center;

    .awards {
        max-width: 60vw;
        margin: 0 auto;
        padding: 5rem 0;
        .award_view{
            opacity: 1;
            -webkit-transition: opacity $delay ease-in;
            -moz-transition: opacity $delay ease-in;
            -ms-transition: opacity $delay ease-in;
            -o-transition: opacity $delay ease-in;
                transition: opacity $delay ease-in;
            &.out{
            opacity: 0;
            -webkit-transition: opacity $delay ease-in;
            -moz-transition: opacity $delay ease-in;
            -ms-transition: opacity $delay ease-in;
            -o-transition: opacity $delay ease-in;
                transition: opacity $delay ease-in;
            }
        }
        .award-cont {
            color: #ffffff;
            margin-bottom: 2.5rem;

            .award-info {
                .award-name {
                    z-index: 2;
                    position: relative;
                    font-size: 5rem;
                    font-weight: 700;
                }

                .for {
                    z-index: 2;
                    position: relative;
                }
            }

            .year {
                color: $clr-primary;
                font-size: 1.8rem;

                // position: absolute;
                z-index: 0;
            }
        }
        .award_btn{
            svg{
            width: 50px;
            height: 25px;
           }
        }
    }
    @include for-phone-only {
        .awards {
            max-width: 80vw;
            .award-cont {
                margin-bottom: 2.5rem;
                .award-info {
                    .award-name {
                        font-size: 3rem;
                    }
                    .for {}
                }
    
                .year {
                    color: $clr-primary;
                }
            }
        }
    }
    @include for-tablet-portait-only {

    }
}