.cursor{
    position: fixed;
    top: -1rem;
    left: -1rem;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
    
    div{
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      border: 1px solid #777;
      transition: transform .5s ease, opacity .35s ease;
    }
    
    &.is-active{
      
      div{
        transform: scale(1.5);
        opacity: 0.25;
      }
    }
  }
