.search-container {
    position: fixed;
    overflow: hidden;
    height: 0px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 87, 255, 1);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform .35s .2s;
    transition: transform .35s .2s;
    transition: transform .35s .2s, -webkit-transform .35s .2s;
    will-change: transform;

    form {
        opacity: 0;
        height: 100%;
        align-content: center;
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        width: 100%;
        max-width: 1000px;
        margin: auto;
        transition: opacity .2s 0ms;
        z-index: 11;
    }

    &.is-avtive {
        bottom: 0;
        height: 100vh;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        transition-delay: 0ms;

        form {
            opacity: 1;
            transition-delay: .55s;

            input {
                width: 100%;
                display: flex;
                font-size: 3.75rem;
                padding: 1rem;
                border: 0px;
                border-bottom: 2px solid $clr-root;
                color: #ffffff;
                background: transparent;

                &:focus {
                    border-bottom: 2px solid $clr-root;
                    outline: 0;
                }
            }

            @include for-phone-only {
                input {
                    width: 80%;
                    padding: 6rem 1.5rem 1.5rem 1.5rem;
                }
            }
        }
    }

    &.is-result {
        bottom: auto;
        height: auto;
        padding: 3rem;
    }

}
