.err-container {
    // display: -webkit-box;
    // display: -webkit-flex;
    // display: -ms-flexbox;
    display: flex;
    // -webkit-box-align: center;
    // -webkit-align-items: center;
    // -ms-flex-align: center;
    align-items: center;
    min-height: 100vh;
    // -webkit-box-pack: center;
    // -webkit-justify-content: center;
    // -ms-flex-pack: center;
    justify-content: center;

    .err-page {
        justify-content: center;
        display: flex;
        height: 100%;
        text-transform: lowercase;
        max-width: 50vw;
        visibility: hidden;
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;

        // &.slideUp {
        //     background: #cccccc;
        // }

        &.visible {
            visibility: visible;
            transition-delay: 0.6s;
            transition: -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
            -webkit-transform: scaleY(1);
            -ms-transform: scaleY(1);
            transform: scaleY(1);
            -webkit-transform-origin: center bottom;
            -ms-transform-origin: center bottom;
            transform-origin: center bottom;

            //   -webkit-transform: scaleX(0);
            //   -ms-transform: scaleX(0);
            //   transform: scaleX(0);
            //   -webkit-transform-origin: center left;
            //   -ms-transform-origin: center left;
            //   transform-origin: center left;

            //   -webkit-animation: loading 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
            //   animation: loading 1.2s cubic-bezier(0.4, 0, 0.2, 1) infinite forwards;
        }

        .code {
            color: $clr-primary;
            font-size: 5rem;
            font-weight: $font-thin;
            padding-right: 10px;
            // background: red;
        }

        .msg {
            align-items: center;
            justify-content: center;
            display: flex;
            font-size: 1rem;
            font-weight: $font-ex-bold;

            div>span {
                display: block;
                color: $clr-base-sec;
            }
        }
    }

    @include for-phone-only {
        .err-page {
            .code {
                font-size: 2rem;
            }
        }
    }
}

.search-waiting-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(255, 0, 0, 0.5);
}